body{
    background-image:url("fundo.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
 .logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
 }

 .ola{
    display:flex
 }

 .lista-item{
    margin: left 70px;
 }

.teste1{
    display:flex;
    justify-content: center;
}

.espacamento{
   margin-left: 100px;
}